<div class="container text-left">
  <h2>Список продуктов</h2>
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
    <% @products.each do |product| %>
      <div class="card-group">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title"><%= product.title %></h5>
          </div>
          <img src="<%= product.path_to_image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text"><%= product.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary">Цена: <%= product.price %> руб.</small><br>
            <small class="text-body-secondary">Размер: <%= product.size %> мм.</small><br>
            <small class="text-body-secondary"><%= product.is_spicy ? 'Специи' : 'Без специй' %></small><br>
            <small class="text-body-secondary"><%= product.is_veg ? 'Вегетарианская' : '' %></small><br>
            <small class="text-body-secondary"><%= product.is_best_offer ? 'Лучшее предложене' : '' %></small><br>
            <br>
            <button class="btn btn-sm btn-success" onClick="addToCart(<%= product.id %>)">Add to cart</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <button class="btn btn-sm btn-primary" onClick="printCart()">Add to cart</button>
</div>
